body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .box {
    height: 100px;
    width: 100px;
    background-color: skyblue;
    cursor: pointer;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    margin: 5px;
    text-align: center;
    line-height: 100px;
  }
  
  .win {
    background-color: pink;
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    color: green;
  }
  
  .lose {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    background-color: red;
    color: white;
  }